* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

.navbar {
    background: #0f172a;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: #555555;
}

.hero h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.hero p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.hero {
    background: url('house1.jpg') center/cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 2px 10px black;
}

.featured {
    padding: 40px;
}

.featured h2 {
    text-align: center;
    margin-bottom: 30px;
    margin: 20px 0;
    text-transform: uppercase;
}

.property-grid h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.property-grid p {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.featured .property-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.featured .card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
}


/*Home-Cards*/

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card a {
    display: block;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #0f172a;
    transition: background 0.3s;
}

.card h3 {
    margin: 0;
    padding: 12px 16px;
    background: #f4f4f4;
}

.card p {
    padding: 0 16px 12px 16px;
    color: #666;
}

.card a:hover {
    background: #333;
}

/*Property Page*/

.property-listing {
    padding: 40px;
}

.property-card {
    max-width: 800px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 40px auto;

}

.property-card h3,
.property-card p {
    padding: 10px;
}

.property-card a {
    display: block;
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.property-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    display: block;

}

.property-card h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.property-card p {
    color: #666;
    font-size: 16px;
    text-align: center;
}


/*Contact-Page*/


.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background: #0f172a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar .logo {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
    }


    .hero h2 {
        font-size: 32px;
    }

    .hero p {
        font-size: 18px;
    }

    .featured h2 {
        font-size: 24px;
    }

    .property-grid h3 {
        font-size: 16px;
    }

    .property-grid p {
        font-size: 14px;
    }

    .contact-form {
        padding: 15px;
    }

    .contact-form button {
        padding: 8px 12px;
    }
}

footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: auto;

}
